body{
  padding: 0;
  margin: 0;
  text-align: center;
}

.greenbtn , .redbtn{
  padding: 7px;
   
    border-radius: 3px;
    color: white;
    display: inline-block;
}
.greenbtn{
  background-color: #16ff22;
  border: 1px solid #16ff22;
}
.greenbtn:hover{
  background-color: #10c91a;
  border: 1px solid  #10c91a;
}

.redbtn{
  background-color: #ff1616;
  border: 1px solid #ff1616;
}
.redbtn:hover{
  background-color: #ff0000;
  border: 1px solid  #ff0000  ;
}